@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


body {
    font-family: 'Muli', sans-serif;
    background-color: steelblue;
    color: #fff;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 18px;
    height: 25px;
    width: auto;
}

#nav-bar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
}

#nav-bar a:hover {
    color: #ddd;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-links button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #666;
    transition: background-color 0.3s ease;
}

#nav-links button:hover {
    background-color: #888;
}
/*-----------------------------------------------------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px 40px;
    border-radius: 5px;
    margin: 10% auto;
    width: 30%;
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-content h1 {
    text-align: center;
    margin-bottom: 30px;
}
.modal-content a {
    text-decoration: none;
    color: lightblue;
}

.enterbtn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    font-family: inherit; /*inherits whatever the parent has*/
    border: 0;
    border-radius: 5px;
}

.enterbtn:focus {
    outline: 0;
}

.enterbtn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute; /*they wont dissaper when we start typing*/
    top: 14px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 17px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-40px);
}

/* Add Animation */
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*-----------------------------------------------------------------------------------------------*/
